@media only screen and (max-width: 768px) {
  .mySingle_modal {
    width: 70%;
    height: 70%;
  }

  .mySingle_modal .overlay-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: #14141f;
    opacity: 0.8;
    z-index: 1000;
  }

  .images__box image {
  }

  .Selected {
  }

  .selected__btn {
    width: 88px;
  }
}
