.meta__Img {
  width: 150px !important;
  height: 150px !important;
  margin-left: 20%;
}

.Binance__meta {
  width: 300px !important;
  height: 80px !important;
  margin-top: 20px;
}

.BuyBNB__Btn a {
  color: rgb(255, 230, 0);
  font-style: none;
  text-decoration: none;
}

.BinanceMeta2 {
  margin-top: 20px;
}
