.create__Account {
  margin-left: 10%;
  max-width: 700px;
}

.account__desc {
  margin-left: 35%;
}

.singleNfts-btn {
  display: flex;
  align-items: center;
  row-gap: 2;
  width: 300px;
  padding: 8px 25px;
  background: black;
  /* border: 2px solid #343444; */
  color: white;
  outline: none;
  border-radius: 50px;
  align-items: center;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleNfts-btn a {
  font-style: none;
  color: #fff;
}

.singleNfts-btn:hover {
  color: #5142fc;
}

.singleNfts-btn i {
  color: #fff;
  align-items: center;
  margin-left: 10px;
  transition: 0.3s;
  margin-right: 20px;
}

.create__width {
  display: flex !important;
  flex-direction: column !important;
  max-width: 1000px;
  padding: 15px;
  background: black;
  border-radius: 10px;
  min-height: 380px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.096);
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 22222;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .create__width {
    width: 900px !important;
  }
}

@media only screen and (max-width: 768px) {
  .create__width {
    width: 600px !important;
  }

  .create__Account {
    margin-left: 20px !important;
  }
}
