.create__Account {
  margin-left: 10%;
  width: 500px;
}

.account__desc {
  margin-left: 35%;
}

.singleNfts-btn {
  display: flex;
  align-items: center;
  row-gap: 2;
  width: 300px;
  padding: 8px 25px;
  background: black;
  /* border: 2px solid #343444; */
  color: white;
  outline: none;
  border-radius: 50px;
  align-items: center;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleNfts-btn a {
  font-style: none;
  color: #fff;
}

.singleNfts-btn:hover {
  color: #5142fc;
}

.singleNfts-btn i {
  color: #fff;
  align-items: center;
  margin-left: 10px;
  transition: 0.3s;
  margin-right: 20px;
}

/* .singleNfts-btn:hover i {
  color: #5142fc;
} */
