.welcome__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.welcome__form input {
  font-style: 20px;
  padding-left: 10px;
  width: 100%;
  height: 45px;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.432);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.welcome__btn {
  width: 200px;
  height: 50px;
  justify-content: center;
  margin-left: 34%;
}

.show__btn {
  width: 200px;
  height: 50px;
  justify-content: center;
}

.show__box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.welcome__btn:hover {
  cursor: pointer;
}
