.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #14141f7c;
  z-index: 444444;
}

.single__modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: #14141f !important;
  border-radius: 5px;
  padding: 30px;
  z-index: 555555 !important;
  cursor: pointer;
}

.single__modal h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.close__modal {
  position: absolute;
  top: 2px;
  right: -2px;
  z-index: 666666;
}

.close__modal i {
  padding: 5px;
  background: #5142fc;
  color: #fff;
  border-radius: 27%;
}
