.my__page {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 50px 30px 100px 150px;
}

.mypage__container {
  width: 500px;
  height: 320px;
  border-radius: 10px;
  background-color: rgb(80, 33, 124);
  padding: 0 10px 20px 10px;
}

.my__heading {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

.img-holder {
  margin: auto;
  width: 150px;
  height: 150px;
  border: 3px solid rgba(0, 0, 0, 0.377);
  border-radius: 5px;
  margin-top: 1.4rem;
}

.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#input[type="file"] {
  display: none;
}

.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.image-upload {
  margin: auto;
  width: 200px;
  height: 30px;
  background-color: #1f1829;
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.label i {
  padding: 5px;
}

.my__nft {
  position: relative;
  display: flex;
  align-items: center;
  left: 32%;
  transform: translate(-50%, -50%);
  margin: 45px 20px 0 10px;
  cursor: pointer;
}

.my__nft i {
  margin-right: 10px;
}

.nft_content {
  width: 140px;
  border: 1.4px solid #5142fc;
  border-radius: 5px;
  text-align: center;
  margin: 0px 50px 10px 50px;
  padding: 5px;
}

.ranking_content {
  width: 140px;
  border: 1.4px solid #5142fc;
  border-radius: 5px;
  text-align: center;
  margin: 0px 50px 50px 50px;
  padding: 5px;
}

.edit_content {
  width: 140px;
  border: 1.4px solid #5142fc;
  border-radius: 5px;
  text-align: center;
  margin: 0px 50px 10px 50px;
  padding: 5px;
}

.gogame_content {
  width: 140px;
  border: 1.4px solid #5142fc;
  border-radius: 5px;
  text-align: center;
  margin: 0px 50px 50px 50px;
  padding: 5px;
}
