.admin__dash {
  width: 100%;
  background: linear-gradient(to bottom right, #343434 0% right, #e6e4ff 70%);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 1rem 8rem 1rem 4rem;
}

.sub__container {
  margin: 0.5rem 0;
  height: 200%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-bottom: 50px; */
}

.section1__one {
  display: flex;
  justify-content: space-between;
  height: 12.4%;
  gap: 1rem;
  width: 100%;
  /* gap: 1rem; */
}

.section2__two {
  display: flex;
  gap: 2rem;
  height: 350%;
  /* margin-bottom: 500px; */
}
