#snake_board {
  border-radius: var(--element-spacing);
  background-size: 50px 50px;
  background-image: conic-gradient(
    var(--primary-color) 90deg,
    var(--primary-color) 90deg 180deg,
    var(--assent-color) 180deg 270deg,
    var(--primary-color) 270deg
  );
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.12);
}

.snake_row {
  display: flex;
}

.snake_cell {
  width: var(--laptop-cell-size);
  height: var(--laptop-cell-size);
}

.snake {
  background-color: var(--snake-color);
}

.food {
  background-image: url("./fruit.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: all linear 1s;
  animation: evolve ease-in-out 300ms 1;
}

#snake_display {
  width: calc(var(--laptop-cell-size) * 15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--element-spacing);
}

#snake_score {
  display: flex;
  justify-content: center;
  align-items: center;
}

#snake_apple-image {
  width: 30px;
  height: 30px;
  background-image: url("./fruit.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: all linear 1s;
  animation: evolve ease-in-out 300ms 1;
}

#snake_score * {
  margin: calc(var(--element-spacing) / 2);
}

#snake_controller {
  display: flex;
  padding: var(--element-spacing);
  margin: var(--element-spacing);
}

.snake_direction-button {
  width: 30px;
  height: 30px;
  background-color: var(--food-color);
  border-radius: calc(var(--element-spacing) / 2);
  margin: 0px calc(var(--element-spacing) / 2);
  padding: var(--element-spacing);
  background-image: url("./arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#snake_ArrowLeft {
  transform: rotateZ(270deg);
}

#snake_ArrowUp {
  transform: rotateZ(0deg);
}

#snake_ArrowDown {
  transform: rotateZ(180deg);
}

#snake_ArrowRight {
  transform: rotateZ(90deg);
}

.snake_restart {
  width: 30px;
  height: 30px;
  background-color: var(--food-color);
  border-radius: calc(var(--element-spacing) / 2);
  padding: var(--element-spacing);
  background-image: url("./refresh.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.snake_button-space {
  padding: calc(2 * var(--element-spacing));
}

#snake_message {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-opaque);
  display: flex;
  justify-content: center;
  align-items: center;
}

#snake_card {
  width: 250px;
  height: 250px;
  background-image: conic-gradient(
    var(--primary-color) 90deg,
    var(--primary-color) 90deg 180deg,
    var(--assent-color) 180deg 270deg,
    var(--primary-color) 270deg
  );
  color: var(--white);
  border-radius: var(--element-spacing);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

#snake_info {
  width: calc(var(--laptop-cell-size) * 15);
  text-align: center;
  padding: var(--element-spacing);
}

/* Animation */

@keyframes evolve {
  from {
    background-color: rgba(255, 166, 0, 0.726);
    background-size: 80% 80%;
  }
  to {
    background-color: transparent;
    background-size: 100% 100%;
  }
}

/* Media query */

@media (max-width: 720px) {
  #snake_board {
    background-size: 30px 30px;
  }
  #snake_display {
    width: calc(var(--mobile-cell-size) * 15);
  }
  #snake_info {
    width: calc(var(--mobile-cell-size) * 15);
  }
  .snake_cell {
    width: var(--mobile-cell-size);
    height: var(--mobile-cell-size);
  }
}
