.Ranking__container {
  padding: 15px;
  text-align: center;
  width: 70%;
  background: #343444;
  cursor: pointer;
  border-bottom: 1px solid #343444;
  box-sizing: content-box;
  position: relative;
  outline: none;
  margin-left: 14%;
  margin-top: 2.5%;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: rgb(255, 255, 255);
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: #5142fc;
  border-bottom: 1px solid transparent;
}

.bloc-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #e250e5;
}

button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  background: #14141f;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  /* height: 100%; */
}
.active-content {
  display: block;
}

.timer {
  padding: 10px;
}

.time__limit {
  position: relative;
  text-align: center;
  height: 40vh;
  background-color: #14141f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.time__limit h4 {
  margin-bottom: 25%;
}

.time__limit .clock {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(279deg, #050818, #390e32);
  height: 120px;
  max-width: 300px;
  color: #d742fc;
  text-shadow: 1px 1px 7px;
  border-radius: 15px;
  border: 2px solid #050818;
  box-shadow: 0 0 4px 7px;
  margin-bottom: 20%;
}

.clock div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.clock div p {
  font-size: 1.3rem;
}

.clock div small {
  color: silver;
  text-shadow: none;
}

.my__rank ul {
  padding: 0;
  list-style-type: none;
}

.my__rank ul li {
  box-sizing: border-box;
  width: 22em;
  height: 3em;
  font-size: 20px;
  border-radius: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 17%;
}

.my__rank ul li:nth-child(odd) {
  background: linear-gradient(
    90deg,
    hsla(294, 100%, 55%, 1) 0%,
    rgb(132, 66, 255) 100%
  );
  text-align: left;
  padding-left: 10%;
  transform: perspective(500px) rotateY(45deg);
}

.my__rank ul li:nth-child(even) {
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(297, 100%, 55%, 1) 100%
  );
  text-align: right;
  padding-right: 10%;
  transform: perspective(500px) rotateY(-45deg);
}

.my__rank ul li:nth-child(even):hover {
  transform: perspective(330px) rotateY(-45deg);
  padding-right: 1%;
}

.my__rank ul li:nth-child(odd):hover {
  transform: perspective(330px) rotateY(45deg);
  padding-right: 1%;
}

.weekly {
  /* margin-left: 30%; */
  text-align: left;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #5142fc;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.aat__token {
  width: 140px;
  background-color: #180425b0;
  color: white;
  margin: 0.8rem 1rem 0.2rem 2rem;
  color: white;
  font: bold;
  padding: 0.4rem;
  border: 1.4px solid #79797986;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

.aat__token:hover {
  background-image: linear-gradient(to left, #af02ff78, #4938ff);
  transform: scale(1.15);
  border: none;
  color: white;
  font-style: none;
  text-decoration: none;
}

.aat__token a {
  font-style: none;
  text-decoration: none;
  color: white;
}

.aat__token:hover a {
  border: none;
  color: white;
  font-style: none;
  text-decoration: none;
}

.weekly_w {
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  width: 22em;
  height: 3em;
  font-size: 20px;
  border-radius: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 17%;
}

.weekly_w:nth-child(odd) {
  background: linear-gradient(
    90deg,
    hsla(294, 100%, 55%, 1) 0%,
    rgb(132, 66, 255) 100%
  );
  text-align: left;
  padding-left: 10%;
  transform: perspective(500px) rotateY(45deg);
}

.weekly_w:nth-child(odd):hover {
  transform: perspective(330px) rotateY(45deg);
  padding-right: 1%;
}

.sticky__box {
}

@media only screen and (max-width: 768px) {
  .Ranking__container {
    width: 75%;
    margin-right: 10%;
  }

  .my__rank ul li {
    width: 200px;
    height: 50px;
  }
}
