.Ranking__container {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #343444;
  cursor: pointer;
  border-bottom: 1px solid #343444;
  box-sizing: content-box;
  position: relative;
  outline: none;
  margin-left: 25%;
  margin-top: 2.5%;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: rgb(255, 255, 255);
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: #5142fc;
  border-bottom: 1px solid transparent;
}

.bloc-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #e250e5;
}

button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  background: #14141f;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
