.bid__container h6 {
  font-size: 0.8rem;
}

.bid__container p {
  margin-bottom: -2px;
}

.bid__container .rare__badge {
  margin-bottom: 20px;
  width: 68px;
  height: 25px;
}

.prevNft__desc p {
  font-size: 0.5rem;
}

.nft__content h5 {
  font-style: initial;
  text-decoration: underline;
  font-size: 1.4rem;
}

.slick-list {
  margin: 0 -26px;
}

.slick-track {
  height: 430px;
}

.slick-track .single__nft__card {
  width: 270px;
  height: 420px;
}

.slick-track .single__nft__card {
  height: 400px;
}

.slick-track .single__nft__card .nft__img img {
  width: 190px;
  height: 200px;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.slick-track .single__nft__card .bid__box {
  margin-top: 0.7rem;
}

@media only screen and (max-width: 1024px) {
  .nft__title {
    font-size: 0.9rem !important;
  }

  .creator__info h6 {
    font-size: 0.6rem !important;
  }

  .creator__info p {
    font-size: 0.7rem !important;
  }

  .bid__btn {
    padding: 4px 20px !important;
    font-size: 0.6rem !important;
  }

  .view__link a {
    font-size: 0.6rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .single__nft__card .nft__img {
    width: 100%;
  }

  .pixel__container label {
    margin-right: -4px;
  }
}

@media only screen and (max-width: 425px) {
  .single__nft__card {
    margin-left: 10px;
  }
}
