.game__infoBox {
  margin: 20px 0 20px 20px;
}

.ranking__btn a {
  text-decoration: none;
  color: white;
  margin: 4px 10px 7px 0;
}

.ranking__btn i {
  margin: 10px;
  text-decoration: none;
}

.compensation__btn span {
  padding: 7px;
}

.game__infoBox button {
  display: flex;
  align-items: center;
  padding: 3px 10px;
  border: 1px solid #5142fc;
  border-radius: 50px;
  background-color: #14141f7c;
  color: white;
  margin-left: 70%;
}

.gameCard__con {
  display: flex;
  justify-content: center;
  align-items: center;
}
