.content-wrapper {
  margin: 120px 0 100px 0;
}

.drop__title {
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
}

.drop__nft {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
  margin-top: 25px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 40px;
}

.timer > * ~ * {
  margin-left: 4rem;
}

.timer-box {
  background-color: #5142fc;
  border-radius: 10px;
}

.timer-box__count {
  --size: 10rem;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-items: center;
}

.timer-box__count > span {
  font-size: 5rem;
  font-weight: 500;
}

.timer-box__text {
  display: grid;
  place-items: center;
  background-color: #343434;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 40%;
  }

  .timer-box {
    width: 40%;
  }
}
