.contact__box {
  margin: 30px 0 30px 0;
}

.drop__box {
  margin: auto;
  text-align: center;
}

.contact {
  margin-bottom: 35px;
}

.send__btn {
  border: none;
  padding: 7px 25px;
  border-radius: 5px;
  margin-top: 20px;
}

.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #14141f;
  opacity: 0.8;
  z-index: 1000;
}
