.subscribe__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url("../../../assets/images/bg1.png");
  height: 320px;
}

.subscribe__box h2 {
  font-size: 2rem;
  font-weight: 550;
}

.subscribe__box p {
  font-size: 1.2rem;
}

.newletter__input {
  display: flex;
  width: 39%;
  margin-left: 30%;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  flex: 111111;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  row-gap: 2;
  padding: 8px 25px;
  background: #5142fc;
  color: white;
  border: none;
  outline: none;
  border-radius: 50px;
  align-items: center;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 45%;
}

.subscribe__btn:hover {
  background: white;
  color: #343444;
}

@media only screen and (max-width: 425px) {
  .subscribe__btn {
    width: 100px;
  }
}
