.earning__card {
  height: 100%;
  width: 14rem;
  background-color: #6200ff88;
  padding: 1rem;
  border-radius: 1rem;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1);
  transition: 0ms.4s ease-in-out;
}

.earning__card:hover {
  background-color: rgba(137, 43, 226, 0.377);
}

.card__content {
  margin: 0.2rem;
}

.earning__chart {
  display: flex;
  justify-content: center;
}

.earning__chart i {
  font-size: 2.5rem;
}

.earing__text {
  text-align: center;
  font-weight: normal;
  padding: 0.4rem 0;
}

.token__mybox {
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
}

.token__mydesc {
  text-align: center;
}
