@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.main__dash {
  width: 100%;
  background: linear-gradient(to bottom right, #343434 0% right, #e6e4ff 70%);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 1rem 8rem 1rem 4rem;
}

.sub__container {
  margin: 0.5rem 0;
  height: 200%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-bottom: 50px; */
}

.section__one {
  display: flex;
  justify-content: space-between;
  height: 11%;
  gap: 1rem;
  width: 100%;
}

.section__two {
  display: flex;
  gap: 2rem;
  height: 380%;
  /* margin-bottom: 500px; */
}

.col__one1 {
  display: flex;
  gap: 3rem;
}

.col__one2 {
}

.col__one3 {
}

.col__two1 {
  display: flex;
  flex-direction: column;
  height: 115%;
  width: 100%;
}

/* .my-items {
  min-height: 33rem;
  min-width: 30rem;
  padding: 30px;
} */

/* .inner-carousel {
  display: flex;
  background-color: #e6e4ff;
} */

.slick-slider {
  width: 500px;
  /* background-color: #343434; */
}
/* .slick-slide {
  object-fit: cover;
  width: 100%;
  height: 500px;
} */
.slick-dots {
  bottom: 5px;
  border-color: violet;
  color: violet;
}

.slick-slider slick-initialized {
  width: 600px;
}

.slick-active button:before {
  opacity: 0.75;
  color: #343434;
}

.slick-slide {
  margin: 0 15px;
}

.slick-list {
  margin: 0 -26px;
}

/* .slick-dots li.slick-active button:before {
  color: violet !important;
}
 */

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
}

.slick-dots {
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots li {
  display: block;
  width: 0.35rem;
  height: 0.35rem;
  padding: 0;

  border: none;
  border-radius: 100%;
  background-color: #5242fc4d;

  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #5242fc;
  border: none;
  border-radius: 100%;
}

/* .boost__info::before {
  content: attr(data-text);
  color: #fcdd56;
  position: absolute;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 5%;
  animation: boost 2s ease infinite;
}

.boost__info::after {
  content: "";
  width: 5%;
  height: 3px;
  background: #fcdd56;
  position: absolute;
  left: 0;
  bottom: -3px;
  animation: boost 2s ease infinite;
} */
