.main__dash {
  width: 80%;
  background: linear-gradient(to bottom right, #343434 0% right, #e6e4ff 70%);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 1rem 8rem 1rem 4rem;
}

.sub__container {
  margin: 0.5rem 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section__one {
  display: flex;
  justify-content: space-between;
  height: 27%;
  gap: 1rem;
  width: 100%;
}

.section__two {
  display: flex;
  gap: 2rem;
  height: 50vh;
}

.col__one1 {
  display: flex;
  gap: 3rem;
}

.col__one2 {
}

.col__one3 {
}

.col__two1 {
  display: flex;
  flex-direction: column;
  height: 115%;
  width: 100%;
}
