.myrank__card {
  height: 100%;
  width: 20rem;
  background-color: #343434;
  padding: 1rem;
  border-radius: 1rem;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1);
  transition: 0ms.4s ease-in-out;
}

.myrank__card:hover {
  background-color: rgba(137, 43, 226, 0.377);
}

.myrank__content {
  margin: 0.5rem;
}

.myrank__chart {
  display: flex;
  justify-content: center;
}

.myrank__chart i {
  font-size: 2.5rem;
}

.myrank__text {
  text-align: center;
  font-weight: normal;
  padding: 0.4rem 0;
}

.rank__mybox {
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.2);
}

.rank__mybox span {
  text-align: center;
  font-size: 1rem;
  margin-left: 20px;
}

.get__token {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border: 1px solid #5142fc;
  border-radius: 50px;
  background-color: #14141f7c;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 17%;
}
