.slide__container {
  width: 25%;
  height: 68% !important;
  border-radius: 2rem;
  background-color: #340c4e91;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 24px;
}

.pfpside__box {
  display: flex;
  /* justify-content: center; */
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}

.profile__pic {
  margin-bottom: 10px;
}

.pfp__iamge {
  width: 120px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  object-fit: contain;
  position: relative;
  z-index: 3333;
}

#select__pfp {
  width: 120px;
  height: 124px;
  border-radius: 50%;
  position: absolute;
  margin-top: -7.9%;
  background-color: #5242fc8c;
  z-index: 444;
  color: #ffffff;
}

.pfp__iamge:hover {
  z-index: 222;
  background-color: #5242fc8c transparent;
  transition: background-color 1s ease-in-out;
}

.select__label {
  width: 120px;
  height: 150px;
  padding: 40px 10px;
  border-radius: 50%;
  position: relative;
}

.profile__name {
  color: white;
  position: absolute;
  font: 1.5rem;
  font-weight: 400;
  margin: 7.8rem 0 0.5rem 0;
}

.myBest__ranking {
  margin: 2.2rem 0 0 0;
}

.my__Badge {
  width: 120px;
  height: 40px;
}

.my__Badge p {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.link__conatainer {
  background-color: #180425b0;
  height: 60%;
  width: 100%;
  border-radius: 2rem;
}

.nav__box {
  width: 100%;
}

.nav__itemBox {
  margin-top: 20px;
  margin-right: 10px;
}

.slide__button {
  width: 140px;
  background-color: #180425b0;
  color: white;
  margin: 0.8rem 1rem 0.2rem 2rem;
  color: #4938ff;
  font: bold;
  padding: 0.4rem;
  border: 1.4px solid #79797986;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

.slide__button:hover {
  background-image: linear-gradient(to left, #4938ff, #ff0291);
  transform: scale(1.15);
  border: none;
  color: white;
}

.contact__button {
  width: 140px;
  background-color: #180425b0;
  color: white;
  margin-left: 20%;
  margin: 0 1rem 0.5rem 2rem;
  color: #4938ff;
  font: bold;
  padding: 0.2rem;
  border: 1.5px solid #79797986;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

.nav__itemBox span {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 24%;
  margin-top: 10%;
  margin-left: 10%;
}

.nav__itemBox span i {
  display: flex;
  color: white;
  cursor: pointer;
}

.nav__itemBox h5 {
  width: 100px;
  font-weight: 300;
  font-size: 1rem;
}

.nav__itemBox p {
  margin-top: 10px;
  margin-left: 17%;
}

.contacts__link {
  color: white;
  text-decoration: none;
  width: 200px;
}

.slide__icon a {
  font-style: none;
  text-decoration: none;
}

.mypfp__Container .nick__pfp {
  margin-left: 10%;
}

.mypfp__Container .email__pfp {
  margin-left: 10%;
}

.edit__name {
  width: 84%;
  margin-left: 8%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.432);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit__email {
  width: 84%;
  margin-left: 8%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.432);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit__btn {
  display: flex;
  align-items: center;
  gap: 1;
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  border: 1px solid #5142fc;
  font-size: 0.9rem;
  background-color: #5142fc;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.submit__btn:hover {
  color: white;
  background-color: #5242fc63;
}

.visible__btn {
  display: flex;
  align-items: center;
  gap: 1;
  border: none;
  outline: none;
  padding: 5px 20px;
  background: transparent;
  border: 1px solid #5142fc;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  width: 35x;
}

.visible__btn:hover {
  background-color: #5142fc;
  color: #fff;
}

@media only screen and (max-width: 1440px) {
  #select__pfp {
    width: 120px;
    height: 123px;
    border-radius: 50%;
    position: absolute;
    margin-top: -8.4%;
    background-color: #5242fc8c;
    z-index: 444;
    color: #ffffff;
  }
}

@media only screen and (max-width: 1024px) {
  #select__pfp {
    width: 120px;
    height: 123px;
    border-radius: 50%;
    position: absolute;
    margin-top: -11.6%;
    background-color: #5242fc8c;
    z-index: 444;
    color: #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  #select__pfp {
    width: 120px;
    height: 123px;
    border-radius: 50%;
    position: absolute;
    margin-top: -15.6%;
    background-color: #5242fc8c;
    z-index: 444;
    color: #ffffff;
  }
}

@media only screen and (max-width: 435px) {
  #select__pfp {
    width: 120px;
    height: 123px;
    border-radius: 50%;
    position: absolute;
    margin-top: -27.6%;
    background-color: #5242fc8c;
    z-index: 444;
    color: #ffffff;
  }
}
