.nft_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #14141f7c;
  z-index: 444444;
  display: flex;
}

.editpfp_modal {
  position: relative;
  top: 55%;
  left: 45%;
  width: 560px;
  max-height: 500px;
  transform: translate(-50%, -50%);
  background: rgb(28, 20, 37) !important;
  border-radius: 5px;
  padding: 30px;
  z-index: 555555 !important;
  cursor: pointer;
}

.mypage__container {
  width: 500px;
  height: 440px;
  border-radius: 10px;
  background-color: rgba(80, 33, 124, 0.432);
  padding: 10px 10px 20px 10px;
  position: relative;
  border-radius: 2px solid transparent;
  background-clip: border-box;
  cursor: pointer;
}

.my__heading {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

.img-holder {
  margin: auto;
  width: 120px;
  height: 120px;
  border: 3px solid rgba(0, 0, 0, 0.377);
  border-radius: 50%;
  margin-top: 1.4rem;
  display: flex;
}

.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
}

#input[type="file"] {
  display: none;
}

.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: white;
}

.image-upload {
  margin: auto;
  width: 200px;
  height: 30px;
  background-color: #1f1829;
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.label i {
  padding: 5px;
}

.editProfile__contents {
  margin-top: 20px;
}

.edit__name {
  margin: 5px;
}

.edit__email {
  margin: 5px;
}

.editpfp__btn {
  margin: 1rem;
  color: #4938ff;
  font: bold;
  background-color: white;
  border: 2px solid #4938ff;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

.editpfp__btn:hover {
  background-image: linear-gradient(to left, #4938ff, #ff0291);
  transform: scale(1.2);
  border: none;
  color: white;
}

.editProfile__contents input {
  width: 50%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.432);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
