.nft_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #14141f7c;
  z-index: 444444;
  display: flex;
}

.single_modal {
  position: relative;
  top: 20%;
  left: 15%;
  width: 870px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: rgb(28, 20, 37) !important;
  border-radius: 5px;
  padding: 30px;
  z-index: 555555 !important;
  cursor: pointer;
}

.single_modal h6 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.close_modal {
  position: absolute;
  top: 10px;
  right: -2px;
  z-index: 666666;
}

.close_modal i {
  padding: 5px;
  background: #5142fc;
  color: #fff;
  border-radius: 27%;
}
