.market__product__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all__category__filter {
  margin-right: 20px;
}

.common__section {
  background: url("../../../assets/images/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.common__section h2 {
  color: #fff;
  padding-bottom: 70px;
}

.common__container {
  text-align: center;
}

.check__box input {
  margin-right: 10px;
  size: 20px;
  font-size: 2rem;
}
