.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #14141f7c;
  z-index: 444444;
}

.wallet__modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 850px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: #14141f !important;
  border-radius: 5px;
  padding: 30px;
  z-index: 555555 !important;
}

.wallet__modal h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.close__modal {
  position: absolute;
  top: -20px;
  right: 3px;
  z-index: 666666;
  cursor: pointer;
}

.wallet__container {
  display: flex;
  width: 800px;
  height: 400px;
  margin: 40px 20px;
}

.wallet__layout {
  width: 200px;
  height: 200px;
  align-items: center;
}

.single__wallet__box {
  width: 180px;
  height: 180px;
  cursor: pointer;
}

.wallet__img img {
  align-content: center;
  margin-left: 24px;
}

.wallet___name p {
  align-content: center;
}

.connect__btn {
  background-color: #14141f;
}

@media only screen and (max-width: 768px) {
  .wallet__modal {
    position: relative;
    top: 100%;
    left: 100%;
    width: 500px;
    height: 400px;
    transform: translate(-50%, -50%);
    background: #14141f !important;
    border-radius: 5px;
    padding: 30px;
    z-index: 111111 !important;
  }

  .wallet__container {
    display: flex;
    width: 400px;
    height: 380px;
    margin: 40px 20px;
  }

  .wallet__layout {
    width: 300px;
    height: 100px;
    align-items: center;
  }

  .single__wallet__box {
    width: 180px;
    height: 180px;
    cursor: pointer;
  }

  .wallet__img img {
    align-content: center;
    margin-left: 24px;
  }

  .single__wallet__box img {
    width: 36px;
  }

  .single__wallet__box p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .wallet__modal {
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    transform: translate(-50%, -50%);
    background: #14141f !important;
    border-radius: 5px;
    padding: 30px;
    z-index: 555555 !important;
  }

  .single__wallet__box img {
    width: 30px;
  }

  .single__wallet__box p {
    font-size: 0.7rem;
  }
}
