.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111111;
}

.header__shrink {
  background: #14141f;
  box-shadow: 3px 3px 4px -3px #e250e5;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}

.nav__item a {
  color: #fff;
  text-decoration: none;
  color: #fff;
}

.nav__item a:hover {
  color: #fff;
}

.active {
  color: #e250e5 !important;
}

.logo h2 {
  background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
  background-size: 100% 100%;
  background-clip: text;
  display: flex;
  gap: 2;
  align-items: center;
  /* Width and color values */
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #14141f;
  margin-bottom: 0;
}

.nav__right {
  display: block;
  align-items: center;
  /* gap: 5; */
}

.nav__right .btn {
  display: flex;
  gap: 2;
  align-items: center;
  padding: 7px 25px;
  border: 1px solid #5142fc;
  border-radius: 50px;
  color: white;
}

.btn a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  display: inline-block;
}

.nav__right .btn span i {
  color: #fff;
  /* margin-right: 8px; */
}

.nav__right .btn a:hover {
  color: #fff;
}

.nav__right .btn:hover {
  display: flex;
  /* gap: 2; */
  align-items: center;
  padding: 7px 25px;
  border: 1px solid #5142fc;
  border-radius: 50px;
  color: #5142fc;
}

.mobile__menu {
  color: #fff;
  font-size: 1.3rem;
  display: none;
}

.mypage__user__icon a {
  font-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.795);
  font-size: 1.2rem;
  border: 1.7px solid #4b50e6c4;
  padding: 4px 7px;
  border-radius: 30%;
  margin: 10px;
}

@media only screen and (max-width: 1024px) {
  .nav__right {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#14141f85, #14141f85);
    z-index: 222222;
    display: none;
  }

  .active__menu {
    display: block;
  }

  .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #000000;
    z-index: 333333;
    flex-direction: column;
    padding-top: 40px;
    /* line-height: 40px; */
  }

  .mobile__menu {
    display: block;
    margin-left: 24px;
  }

  .btn {
    padding: 4px 25px !important;
    margin-right: 25px;
  }

  .btn a {
    font-size: 0.7rem !important;
  }
}

@media only screen and (max-width: 425px) {
  .btn {
    margin-left: 50px;
  }

  .mobile__menu {
    display: block;
    margin-left: 40px;
  }
}
