.admin__form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #1a1934e3;
  text-align: center;
  margin: 35px auto;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 10px;
}

.admin__form h5 {
  margin-top: 20px;
}

.Admin__rewards {
  width: 400px;
  padding: 16px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}
