.cards__container {
  display: flex;
  gap: 10px;
}

.parent__container {
  width: 110%;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .cards__container {
    flex-direction: column;
  }
  .parent__container {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .cards__container {
    width: 90%;
  }
}
