.live__list__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.live__list__top h3 {
  color: #fff;
}

.live__list__top span a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #5142fc;
}

.single__nft__card {
  padding: 20px;
  background: #343444;
  border-radius: 10px;
}

.creator__info-wrapper {
  display: flex;
  gap: 3;
}

.nft__img img {
  border-radius: 10px;
  height: 270px;
}

.nft__img {
  margin-bottom: 15px;
}

.nft__img img {
  width: 100%;
}

.nft__title {
  margin-bottom: 15px;
}

.nft__title a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.nft__title a:hover {
  color: #fff;
}

.creator__img {
  width: 40px;
  height: 40px;
}

.creator__img img {
  width: 100%;
}

.creator__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.creator__info h6 {
  font-size: 0.7rem;
  color: #fff;
  opacity: 80%;
  margin-bottom: 0;
  font-weight: 300;
}

.creator__info p {
  font-size: 0.9rem;
  color: #fff;
  opacity: 100%;
  margin-bottom: 0;
  font-weight: 500;
}

.bid__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.bid__box .bid__btn {
  display: flex;
  align-items: center;
  gap: 1;
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  border: 1px solid #5142fc;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.bid__btn:hover {
  background-color: #5142fc;
  color: #fff;
}

.view__link a {
  text-decoration: none;
  color: #5142fc;
  opacity: 85%;
  font-size: 0.9rem;
}

.view__link a:hover {
  color: #fff;
}
