.sidebar__btn {
  /* border: 2px solid black; */
  position: fixed;
  top: 65%;
  left: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.sidebar__btn ul {
  margin: 0;
  padding-left: -2rem;
}

.sidebar__btn a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  font-size: 15px;
  font-weight: 900;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  border-radius: 0px 50px 50px 0px;
  transform: translate(-150px, 0px);
  transition: all 0.5s;
}

.sidebar__btn a:hover {
  transform: translate(-25px, 0px);
  color: white;
}

/* .sidebar__btn .kakaoTalk a i:hover {
  z-index: 111111;
  color: #000000 !important;
} */

.discord {
  background-color: #5865f2;
  color: white;
}

.github {
  background-color: #333333;
  color: white;
}

.kakaoTalk {
  background-color: #ffe812;
  color: #000000;
}

.sidebar__btn a i {
  margin-left: 25px;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s;
}

.sidebar__btn a i:hover {
  transform: rotate(360deg);
}

.sidebar__btn i {
  padding-right: 10px;
}

.sidebar__btn a {
  padding-bottom: 5px;
}
