.create__box {
  margin: 40px 0 30px 0;
}

.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #14141f;
  opacity: 0.8;
  z-index: 1000;
}

.preview__item {
  margin-bottom: 20px;
  color: rgb(160, 160, 160);
}

.date__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__input input,
.form__input textarea {
  width: 100%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.432);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__input {
  margin-bottom: 15px;
}

.form__input label {
  color: #fff;
  margin-bottom: 10px;
}

.form__input .upload {
  padding: 100px 25px;
}

.form__input .upload__input {
  padding: 40px 25px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.create__btn {
  /* display: flex; */
  height: 75px;
  align-items: center;
  padding: 7px 25px;
  border: 1px solid #000000;
  border-radius: 50px;
  background: #5142fc;
}

.create__btn a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  display: inline-block;
  font-weight: 500;
  margin: 10px;
}

.create__btn span {
  color: #fff;
  margin-right: 8px;
}

.create__btn:hover {
  /* display: flex; */
  gap: 2;
  align-items: center;
  padding: 7px 25px;
  border: 1px solid #5142fc;
  border-radius: 50px;
  background-color: #5242fc42;
}

.create__btn span:hover {
  color: #353535;
}

.create__input {
  margin-top: 20px;
}

@media only screen and (max-width: 576px) {
  .create__input {
    margin-top: 15px;
  }
}
