.market__box {
  margin: 0 0 30px 0;
}

.detail__box {
  margin: 50px 0 120px 0;
}

.single__ nft-img {
  width: 100%;
  border-radius: 8px;
}

.single__nft__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.single__nft-seen {
  display: flex;
  align-items: center;
  row-gap: 4;
}

.nft-heart__btn i {
  color: antiquewhite;
  opacity: 0.3;
  cursor: pointer;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.heart__beat:hover {
  animation: heartbeat 1s infinite;
  fill: red;
  color: red;
  opacity: 1;
  transition: opacity 500ms;
}

.nft-heart__btn {
  background: #3434445b;
  padding: 10px;
  margin-right: 15px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
}

.single__nft-seen span {
  margin-right: 10px;
}

.single__nft-seen span i {
  color: #fff;
  padding: 5px;
  background: #000;
  border-radius: 50px;
  cursor: pointer;
}

.single__nft-more {
  display: flex;
  align-items: center;
  gap: 4;
}

.single__nft-seen span,
.single__nft-more span {
  color: #fff;
  font-size: 1rem;
}

.nft-view__btn {
  background: #3434445b;
  padding: 10px;
  margin-right: 15px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
}

.single__nft-more span i {
  background: #343444;
  padding: 5px;
  margin-right: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.nft__creator {
  display: flex;
  margin-top: 10px;
  align-items: center;
  background: #343444;
  padding: 12px;
  border-radius: 7px;
  width: 50%;
}

.creator__img {
  width: 50px;
  height: 40px;
  margin-right: 2px;
  margin-top: 12px;
}

.creator__img img {
  width: 100%;
}

.creator__detail {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0;
}

.creator__detail p {
  color: #fff;
  font-size: 0.7rem;
  margin-bottom: 0;
}

.creator__detail h6 {
  color: #fff;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.singleNft-btn {
  display: flex;
  align-items: center;
  row-gap: 2;
  width: 200px;
  padding: 8px 25px;
  background: #343444;
  border: none;
  outline: none;
  border-radius: 50px;
  align-items: center;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleNft-btn:hover {
  color: #5142fc;
}

.singleNft-btn i {
  color: #fff;
  align-items: center;
  margin-left: 10px;
  transition: 0.3s;
}

.singleNft-btn:hover i {
  color: #5142fc;
}

.singleNft-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 15px;
  text-align: center;
}

.singleNft-btn a:hover {
  color: #5142fc;
}

input[type="radio"] {
  display: none;
}

.star {
  transition: color 200ms;
}

.accordian__box {
  width: 600px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 1px black;
  margin: 0 auto;
}

.tab__tab {
  background-color: #3434446e;
  padding: 10px;
  color: #fefefe;
  cursor: pointer;
  display: flex;
  justify-content: space=between;
  align-items: center;
  border-bottom: 1px solid;
  border-radius: 10px;
}

.tab__tab:hover {
  background-color: #343444;
  border-radius: 10px;
}

.tab__tab i {
  margin-left: 485px;
  font-size: 1.5rem;
}

.tab__tab span {
  margin-left: 20px;
}

.content__text {
  background-color: rgb(48, 14, 70);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 5px;
}

.content__text p {
  padding: 10px;
}

.show__content {
  height: 70px;
  overflow-y: scroll;
}

@media only screen and (max-width: 1024px) {
  .single__nft-img {
    width: 400px !important;
    height: 480px !important;
  }
  .single__nft__content {
    margin-left: 30px;
  }

  .single__nft__icon {
    margin-left: 30px;
  }

  .single__nft__content h2 {
    font-size: 1.7rem;
  }

  .single__nft__content p {
    font-size: 0.8rem;
    line-height: 28px;
  }

  .nft__creator {
    width: 90%;
    margin-left: 35px;
  }

  .creator__img {
    width: 55px;
    margin-bottom: 10px;
  }

  .my-3 {
    margin-left: 30px;
  }

  .singleNft-btn a {
    margin-left: 30px;
    font-size: 0.7rem;
  }

  .accordian__box {
    width: 450px !important;
  }

  .rare__Badge {
    width: 80px !important;
  }

  .star {
    width: 80% !important;
    transition: color 200ms;
  }

  .tab__tab i {
    margin-left: 370px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .single__nft-img {
    width: 300px !important;
    height: 380px !important;
  }
  .single__nft__content {
    margin-left: 5px;
  }

  .single__nft__icon {
    margin-left: 2px;
    width: 80px;
  }

  .single__nft__content h2 {
    font-size: 1.7rem;
  }

  .single__nft__content p {
    font-size: 0.8rem;
    line-height: 28px;
  }

  .owner__address__box span {
    color: #5142fc !important;
  }

  .nft__creator {
    width: 90%;
    margin-left: 35px;
  }

  .creator__img {
    width: 55px;
    margin-bottom: 10px;
  }

  .my-3 {
    margin-left: 30px;
  }

  .singleNft-btn a {
    margin-left: 30px;
    font-size: 0.7rem;
  }

  .accordian__box {
    width: 330px !important;
  }

  .rare__Badge {
    width: 80px !important;
  }

  .star {
    width: 50% !important;
  }

  .tab__tab i {
    margin-left: 260px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .single__nft-top h2 {
    margin-top: 15px;
  }
  .accordian__box {
    margin-left: -2px;
  }
}
